body {
    background-color: #151515;
}

button {
    color: white;
    background-color: #151515;
    border: none;
}

.navbar {
    overflow: hidden;
    background-color: #151515;
    margin-top: 50px;
    margin-left: 30px;
    text-align: right;
}

.navbar button {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    transition: color 0.2s ease-out;
    font-size: 20px;
}

.navbar button:hover{
    transition: color 0.2s ease-out;
    color: #99AAB5;
}

.contactInfo {
    text-align: center;
    color: white;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    margin-top: 150px;
}

.contactInfo a:hover{
    filter: brightness(0.7);
}